<div class="my-container">
    <div class="registration">
      <form [formGroup]="registrationForm" (ngSubmit)="registrationSubmit()">
        <img src="../../../assets/images/angular-springboot-logo.png" alt="">

        <label>
          <input type="text" placeholder="Name" formControlName="name" id="name" name="name" autocomplete="off">
          <div *ngIf="isSubmitted && formControls.name.errors" class="error">
            <div *ngIf="formControls.name.errors.required">Please enter your name</div>
          </div>
        </label>

        <label>
          <input type="text" placeholder="Username" formControlName="username" id="username" name="username" autocomplete="off">
          <div *ngIf="isSubmitted && formControls.username.errors" class="error">
            <div *ngIf="formControls.username.errors.required">Please enter your username</div>
          </div>
        </label>

        <label>
          <input type="email" placeholder="Email" formControlName="email" id="email" name="email" autocomplete="off">
          <div *ngIf="isSubmitted && formControls.email.errors" class="error">
            <div *ngIf="formControls.email.errors.required">Please enter your email address</div>
          </div>
        </label>
      
        <label>
          <input type="password" placeholder="Password" formControlName="password" id="password" name="password" autocomplete="off">
          <div *ngIf="isSubmitted && formControls.password.errors" class="error">
            <div *ngIf="formControls.password.errors.required">Please enter your password</div>
          </div>
        </label>
  
        <p class="have-acc-par">Already have an account? <a routerLink="/login">Login</a></p>
  
        <input type="submit" value="Submit" class="register-button">
        
      </form>
    </div>
</div>