<div class="my-container">
  <div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        <img src="../../../assets/images/angular-logo.png" alt="">

        <label>
          <input type="text" placeholder="Username" formControlName="username" id="usernameOrEmail" autocomplete="off">
          <div *ngIf="isSubmitted && formControls.username.errors" class="error">
            <div *ngIf="formControls.username.errors.required">Your username is required</div>
          </div>
        </label>
      
        <label>
          <input type="password" placeholder="Password" formControlName="password" id="password" autocomplete="off">
          <div *ngIf="isSubmitted && formControls.password.errors" class="error">
            <div *ngIf="formControls.password.errors.required">Your password is required</div>
          </div>
        </label>

        <p class="not-reg-par">Not registered yet? <a routerLink="/registration">Register</a></p>

        <input type="submit" value="Login" class="login-button">
      
    </form>
  </div>
</div>