<div class="my-container">
    <div class="forgot-password-div">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()">
        <img src="../../../assets/images/forgot-password-logo.png" alt="">

        <label>
          <input type="email" placeholder="Email" formControlName="email" id="email" name="email" autocomplete="off">
          <div *ngIf="isSubmitted && formControls.email.errors" class="error">
            <div *ngIf="formControls.email.errors.required">Please enter an email address</div>
          </div>
        </label>

        <p class="go-back-to-par">Go back to the <a routerLink="/login">Login Page</a></p>
  
        <input type="submit" value="Submit" class="submit-button">
        
      </form>
    </div>
</div>